[Unit]
Description=cavex gait control startup component
PartOf=cavex.service
After=cavex.service

[Service]
ExecStart=/home/cavex/launch_scripts/cavex_gait.sh
# ExecStart=/bin/sleep infinity
Restart=on-failure

[Install]
WantedBy=cavex.service
