[Unit]
Description=cavex scanning startup component
PartOf=cavex.service
After=cavex.service
After=cavex_gait.service

[Service]
# ExecStart=/bin/sleep infinity
ExecStart=/home/cavex/launch_scripts/cavex_scan.sh
Restart=on-failure

[Install]
WantedBy=cavex.service
