[Unit]
Description=cavex interbotix python example script startup component
PartOf=cavex.service
After=cavex.service
After=cavex_gait.service

[Service]
# ExecStart=/bin/sleep infinity
ExecStart=/home/cavex/launch_scripts/cavex_python_example.sh
Restart=on-failure

[Install]
WantedBy=cavex.service
